*.yml linguist-language=Java
*.html linguist-language=Java
*.js linguist-language=Java
*.xml linguist-language=Java
*.css linguist-language=Java
*.png linguist-language=Java
*.jpg linguist-language=Java
*.properties linguist-language=Java
*.sql linguist-language=Java