@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr {margin:0;padding:0;}

html{
	margin:0;
	padding:0;
	height: 100%;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #FFFFFF;
	margin:0 0 0 0;
	font-size:14px;
	height: 100%;
}


/* 去除黑点 */
ul,ol {list-style:none;}
a{text-decoration:none; color:#333; font-size:12px;}
a:link {color: #333; text-decoration:none;}
a:hover{text-decoration:none; color:#FF9500; font-size:12px;}
a:focus { outline: none; }

em{ font-style:normal;}
img{ border:0;}
form,dt,dd,dl{ margin:0px; padding:0px;}
input {vertical-align: middle}

textarea {
	height:25px;
	background-color:#FFFFFF;
	padding-left:10px;
	padding:5px;
	font-family: Arial;
	font-size: 14px;
	color:#666666;
}

.container{
	/**不要删除用于总体控制的样式*/
}

.container .content{
	padding-top: 45px;
	background: #FFFFFF;
}

.container .popup{
	width:100%;
	height:100%;
}


.card_view{
    padding-bottom: 12px;
    padding-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 12px;
    background: #FFFFFF;
}

.card_view .card_title{
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    background: #FFFFFF;
}

.card_button{
	margin-left: 12px;
	margin-right: 12px;
}

.card_button .mint-button{
	background:transparent;
	padding-bottom: 12px;
	padding-top: 12px;
	border-radius: 12px;
	color:#666666;
	background: #FFFFFF;
	font-size: 14px;
	border-radius: 12px;
}

.button_border{
	color: #fff;
	outline: none;
	display: inline-block;
	padding: 0 16px;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	background: none;
	border: 1px solid #fff;
	border-radius: 3px;
}

.button_border:hover {
	background: #EFEFEF;
}

.button_border_color{
	color: #FF9500;
	outline: none;
	display: inline-block;
	padding: 0 16px;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	background: none;
	border: 1px solid #FF9500;
	border-radius: 3px;
}
.button_border_color:hover {
	background: #FF9500;
}

.button_long{
	width:96%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.icon_small{
	width: 25px;
	height: 25px;
}

/**mint ui 样式替换 */

/**白色的导航栏 */
.mint-header-light{
	background: #fafafa;
	color: #000000;
	font-size:14px;
	height:45px;
}

.mint-header-title {
	line-height: 40px;
}

.mint-button--normal{
	font-size: 14px;
}

.mint-ui-toast{z-index: 999999;}

.mint-field.is-textarea .mint-cell-value {
	padding:0;
}

/** cell横线 **/
.mint-cell:last-child{
	background-image: none;
}
.mint-cell-wrapper {
	background-image: none;
	border-bottom: 1px solid #EFEFEF;
	padding-left:12px;
	padding-right:12px;
}

.mint-cell-value.is-link{
	margin-right:0px;
}

/** 定义cell箭头图标 **/
.mint-cell-allow-right::after {
	border: 1px solid #999999;
	border-bottom-width: 0;
	border-left-width: 0;
	content: " ";
	top: 50%;
	right: 20px;
	position: absolute;
	width: 10px;
	height: 10px;
	-webkit-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

/** 列表条目的一些共有样式 */
.item{

}
.item .title{
	color:#333333;
	padding:10px 10px 0px 50px;
	max-height:48px;
	font-size:14px;
	line-height:24px;
	font-weight: bold;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.item .summary{
	font-size:13px;
	color:#999999;
	line-height:16px;
}

.item .content{
	color: #666666;
	font-size: 14px;
	margin-top: 10px;
}

.item .user{
	margin-top:-5px;
	width:100%;
}

.item .user .avatar{
	border-radius:100%;
	margin-right: 10px;
	margin-top:2px;
}

.item .user .avatar img{
	border-radius:100%;
	width: 40px;
}

.item .user .uname{
	color:#333333;
	font-size: 15px;
	position: relative;
	top: 2px;
	line-height:25px;
}

.item .user .time{
	font-size:13px;
	color:#999999;
	line-height:16px;
}

.item .tag{
	background-color: #f5f5f5;
	font-size: 12px;
	line-height: 12px;
	display: inline-block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	color: #999;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right:5px;
}


